def_pic_unknown         RCDATA  "..\pics\default_pics\unknown.bmp"
def_pic_ring            RCDATA  "..\pics\default_pics\ring.bmp"
def_pic_ring_w_handles  RCDATA  "..\pics\default_pics\ring_w_handles.bmp"
def_pic_ball            RCDATA  "..\pics\default_pics\ball.bmp"
def_pic_rider           RCDATA  "..\pics\default_pics\rider.bmp"
def_pic_lounger         RCDATA  "..\pics\default_pics\lounger.bmp"
def_pic_lounger_chair   RCDATA  "..\pics\default_pics\lounger_chair.bmp"
def_pic_chair           RCDATA  "..\pics\default_pics\chair.bmp"
def_pic_seat            RCDATA  "..\pics\default_pics\seat.bmp"
def_pic_mattress        RCDATA  "..\pics\default_pics\mattress.bmp"
def_pic_island          RCDATA  "..\pics\default_pics\island.bmp"
def_pic_bed             RCDATA  "..\pics\default_pics\bed.bmp"
def_pic_boat            RCDATA  "..\pics\default_pics\boat.bmp"
def_pic_toy             RCDATA  "..\pics\default_pics\toy.bmp"
def_pic_wings           RCDATA  "..\pics\default_pics\wings.bmp"
def_pic_balloon         RCDATA  "..\pics\default_pics\balloon.bmp"
def_pic_others          RCDATA  "..\pics\default_pics\others.bmp"
def_pic_island_rider    RCDATA  "..\pics\default_pics\island_rider.bmp"