flag_icon_owned          RCDATA  "..\pics\icons\flag_icon_owned.bmp"
flag_icon_wanted         RCDATA  "..\pics\icons\flag_icon_wanted.bmp"
flag_icon_ordered        RCDATA  "..\pics\icons\flag_icon_ordered.bmp"
flag_icon_boxed          RCDATA  "..\pics\icons\flag_icon_boxed.bmp"
flag_icon_elsewhere      RCDATA  "..\pics\icons\flag_icon_elsewhere.bmp"
flag_icon_untested       RCDATA  "..\pics\icons\flag_icon_untested.bmp"
flag_icon_testing        RCDATA  "..\pics\icons\flag_icon_testing.bmp"
flag_icon_tested         RCDATA  "..\pics\icons\flag_icon_tested.bmp"
flag_icon_damaged        RCDATA  "..\pics\icons\flag_icon_damaged.bmp"
flag_icon_repaired       RCDATA  "..\pics\icons\flag_icon_repaired.bmp"
flag_icon_pricechange    RCDATA  "..\pics\icons\flag_icon_pricechange.bmp"
flag_icon_availchange    RCDATA  "..\pics\icons\flag_icon_availchange.bmp"
flag_icon_notavailable   RCDATA  "..\pics\icons\flag_icon_notavailable.bmp"
flag_icon_lost           RCDATA  "..\pics\icons\flag_icon_notavailable.bmp"